@model IEnumerable<StudentStaffApp.Models.StaffDetail>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-body">
            <h4 class="card-title">No of Staff Count</h4>
            <p class="card-description">
                <h2>@ViewBag.StaffCount</h2>
            </p>
        </div>
    </div>
</div>
