
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-body">
            <h4 class="card-title">No of Students Count</h4>
            <p class="card-description">
                <h2>@ViewBag.StudentCount</h2>
            </p>
        </div>
    </div>
</div>
